main{
    width: 570px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 10px;
}

h1, h3{
    margin: 0;
    text-align: center;
}

.book{
    margin-top: 10px;
    border: 1px solid #000;
}

.book h1:hover{
    cursor: pointer;
}