main{
    width: 700px;
    margin-left: 360px;
    background-color: #ccc;
    padding: 10px;
}

form:first-child, main, #editForm{
    vertical-align: top;
    display: inline-block;
}

form>h1{
    margin-bottom: 10px;
    text-align: center;
}

h1, h3{
    margin: 0;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

h1{
    width: 250px;
}

.book h3:last-child{
    float: right;
}

.book{
    margin-top: 10px;
    border: 1px solid #000;
}

.book section:last-child{
    text-align: center;
}

.book:hover{
    cursor: pointer;
}

.book:focus{
    background-color: #fff;
}

form{
    width: 320px;
    padding: 5px;
    border: 3px solid #eee;
    border-radius: 3px;
    position: fixed;
}

#editForm{
    left: 1120px;
}

form label{
    font-size: 150%;
    font-weight: bold;
}

input{
    float: right;
    vertical-align: middle;
}

.button {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 16.795%;
    text-align: center;
}

.button.blue {
    background: none repeat scroll 0 0 #2DB6CF;
    color: #FFFFFF;
}
.button.blue:hover {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}

#addBook, #saveBook{
    width: 100%;
}