.country:hover{
    cursor: pointer;
}

.country{
    border: 1px solid #000;
    margin-top: 15px;
    padding: 5px 0;
    text-align: left;
}

.town{
    margin-top: 10px;
    border: 1px solid #000;
}

.country section{
    text-align: right;
    width: 60%;
}

.country section input{
    width: 120px;
}

.country section, .country h1{
    display: inline-block;
    vertical-align: top;
}

.country .townsSection{
    text-align: center;
    display:inline-block;
    width: 100%;
}

.country h1{
    margin: 5px 0;
    width: 39%;
}

main{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    background-color: #CDC1C5;
}

.hide{
    display: none;
}

#countryField, .editCountry, .editTown{
    padding: 7px 0;
}

.button {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 16.795%;
    text-align: center;
}
.button.red {
    background: none repeat scroll 0 0 #E0645C;
    color: #FFFFFF;
}
.button.red:hover {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}

.button.green {
    background: none repeat scroll 0 0 #46b98a;
    color: #FFFFFF;
}
.button.green:hover {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}
.button.blue {
    background: none repeat scroll 0 0 #2DB6CF;
    color: #FFFFFF;
}
.button.blue:hover {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}

.townAdd{
    width: 100px;
}